@model IEnumerable<User>
    
<div >
    @foreach (var item in Model)
    {
    <div class="card">
        <div class="card-header">
            <h2>@item.Name</h2>
            <h4>@item.Posted</h4>
            <a asp-for="@item.Like"> @item.Like</a>

        </div>
        <h2 class="card-body">@item.Message</h2>
        <a asp-action="Like" asp-route-id="@item.Id">Like</a>
        <a asp-action="Edit" asp-route-id="@item.Id"  asp-route-IdentityId="@item.IdentityId">Edit</a>
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </div>
    }
</div>
